.discount-card {
    box-shadow: rgba(3, 0, 71, 0.09) 0px 1px 3px;
    background-color: rgb(255, 255, 255);
    padding: 1rem;
    border-radius: 8px;
    width: 180px;
}
  
  .discount-card img {
    width: 148px;
    border-radius: 12px;
    height: 148px;
    margin-bottom: 1rem;
}
  
  .discount-card img:hover {
    background-color: rgba(0, 0, 0, 0.3);
}