.discount-card {
    box-shadow: rgba(3, 0, 71, 0.09) 0px 1px 3px;
    background-color: rgb(255, 255, 255);
    padding: 1rem;
    border-radius: 8px;
    width: 180px;
}
  
  .discount-card img {
    width: 148px;
    border-radius: 12px;
    height: 148px;
    transition: 0.8s;
}
  
  .discount-card img:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.big-discounts-slider .previous_arrow {
    position: absolute;
    background-color: rgb(15, 52, 96);
    color: rgb(125, 135, 156);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 30px;
    border-radius: 50%;
    top: 90px;
    left: -16px;
    border: none;
    line-height: 19px;
    text-align: center;
    z-index: 999999999999;
    padding: 1rem;
  }
  
  .big-discounts-slider .next_arrow {
    position: absolute;
    background-color: rgb(15, 52, 96);
    color: rgb(125, 135, 156);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 30px;
    border-radius: 50%;
    top: 90px;
    right: -16px;
    border: none;
    line-height: 19px;
    text-align: center;
    z-index: 999999999999;
    padding: 1rem;
  }
