
.mycard {
  box-shadow: rgba(3, 0, 71, 0.09) 0px 1px 3px;
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
  width: 312px;
}
.mycard .iconsDesigned {
  border-radius: 300px;
  transition: all 150ms ease-in-out 0s;
  cursor: unset;
  box-shadow: unset;
  padding: 5px 10px;
  background-color: rgb(233, 69, 96);
  color: rgb(255, 255, 255);
  top: 10px;
  left: 10px;
  position: absolute;
  z-index: 1;
  font-size: 10px;
  font-weight: 600;
}
.mycard .addingIcon {
  margin-left: 147px;
}
.mycard .extraDesign {
  padding: 1rem;
}
.mycard .titleOfTheDeisgn {
  font-size: 14px;
  font-weight: 600;
}
.mycard .theActualPrice {
  padding-right: 0.5rem;
  color: rgb(233, 69, 96);
  font-size: 14px;
  font-weight: 600;
}
.mycard .prevoiusPrice {
  color: rgb(125, 135, 156);
  font-size: 14px;
  font-weight: 600;
}
.mycard .allDesign {
  display: flex;
  align-items: center;
}
.mycard .addingIcon svg:hover {
  border: 1px solid rgb(233, 69, 96);
  border-color: rgb(233, 69, 96);
  fill: rgb(255, 255, 255);
  background-color: rgb(233, 69, 96);
  font-size: 1rem;
  border-radius: 3px;
  stroke: rgb(255, 255, 255);
}
.mycard .addingIcon svg {
  font-weight: 600;
  font-size: 1rem;
  width: 100%;
  height: 100%;
  border: 1px solid rgb(233, 69, 96);
  border-radius: 4px;
}
.mycard .addingIcon {
  margin-left: 147px;
}
.mycard .IconAdd {
  fill: red;
}



.mycard {
  position: relative;
}

.camera {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 0.25rem;
  margin-top: 0px;
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  margin-bottom: 0.5rem;
}

.priceSmall {
  margin-bottom: 0px;
  margin-top: 0px;
  color: rgb(233, 69, 96);
  font-weight: 600;
  font-size: 14px;
  text-align: center;
}

.cardTitle {
  margin-bottom: 0px;
  margin-top: 0px;
  font-weight: 600;
  font-size: 14px;
}





.oldPrice {
  color: rgb(125, 135, 156);
  font-size: 14px;
  font-weight: 600;
}

.IdicatorCard {
  cursor: unset;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 3px 5px -1px, rgba(0, 0, 0, 0.043) 0px 5px 8px 0px, rgba(0, 0, 0, 0.035) 0px 1px 14px 0px;
  border-radius: 10px;
  padding: 1.25rem;
  background-color: white;
}

.itemsInIt {
  display: flex;
  cursor: pointer;
  min-width: 240px;
  border-radius: 5px;
  align-items: center;
  padding: 0.5rem 1rem;
  background-color: rgb(246, 249, 252);
  margin-bottom: 0.75rem;
}

.carName {
  font-size: 17px;
  font-weight: 600;
  margin-left: 1rem;
  text-transform: capitalize;
}

.cars {
  margin-bottom: 1.3rem;
  margin-top: 0px;
  font-size: 25px;
  font-weight: bold;
  line-height: 1;
}

.carCard {
  box-shadow: rgba(3, 0, 71, 0.09) 0px 1px 3px;
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
  position: relative;
}

.cardIcon {
  display: inline-flex;
  border-radius: 300px;
  transition: all 150ms ease-in-out 0s;
  cursor: unset;
  box-shadow: unset;
  padding: 5px 10px;
  background-color: rgb(233, 69, 96);
  color: rgb(255, 255, 255);
  top: 10px;
  left: 10px;
  position: absolute;
  z-index: 1;
  font-size: 10px;
  font-weight: 600;
}

.titleCar {
  padding: 0.5rem 1rem;
  color: rgb(43, 52, 69);
  font-weight: 600;
  font-size: 20px;
}



.mycard {
  transition: all 0.2s ease-in-out;
}

.mycard:hover {
  transform: scale(1.1);
}

