.card-info {
    box-shadow: rgba(3, 0, 71, 0.09) 0px 1px 3px;
    background-color: rgb(255, 255, 255);
    height: 100%;
  }

  .info-icons {
    display: flex;
    flex-direction: row;
    background-color: rgb(243, 245, 249);
    width: 64px;
    height: 64px;
    border-radius: 300px;
    align-items: center;
    justify-content: center;
  }

  .info {
    margin-bottom: 4.3rem;
    margin-top: 20px;
    font-weight: 600;
    font-size: 17px;
    text-align: center;
  }