.flash-card {
    box-shadow: rgba(3, 0, 71, 0.09) 0px 1px 3px;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    width: 312px;
}

.flash-card .icons {
    border-radius: 300px;
    transition: all 150ms ease-in-out 0s;
    cursor: pointer;
    box-shadow: unset;
    padding: 5px 10px;
    background-color: rgb(233, 69, 96);
    color: rgb(255, 255, 255);
    top: 10px;
    left: 10px;
    position: absolute;
    z-index: 1;
    font-size: 10px;
    font-weight: 600;
}

.flash-card .icon2 {
    margin-left: 147px;
}

.flash-card .section2 {
    padding: 1rem;
}

.flash-card .flash-card-title {
    font-size: 14px;
    font-weight: 600;
}

.flash-card .normalPrice {
    padding-right: 0.5rem;
    color: rgb(233, 69, 96);
    font-size: 14px;
    font-weight: 600;
}

.flash-card .salePrice {
    color: rgb(125, 135, 156);
    font-size: 14px;
    font-weight: 600;
}

.flash-card .section3 {
    display: flex;
    align-items: center;
}

.flash-card .icon2 svg:hover {
    border: 1px solid rgb(233, 69, 96);
    border-color: rgb(233, 69, 96);
    fill: rgb(255, 255, 255);
    background-color: rgb(233, 69, 96);
    font-size: 1rem;
    border-radius: 3px;
    stroke: rgb(255, 255, 255);
}


.flash-card .icon2 svg {
    font-weight: 600;
    font-size: 1rem;
    width: 100%;
    height: 100%;
    border: 1px solid rgb(233, 69, 96);
    border-radius: 4px;
}

.flash-card .icon2 {
    margin-left: 147px;
}

.flash-card .IconAdd {
    fill: red;
}

.flash-card {
    transition: all 0.5s ease-in-out;
}

.flash-card:hover {
    transform: scale(1.1);
}

.flash-slider {
    margin-bottom: 5rem;
}

.flash-slider {
    position: relative;
}

.flash-slider .previous_arrow {
    position: absolute;
    background-color: rgb(15, 52, 96);
    color: rgb(125, 135, 156);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 30px;
    border-radius: 50%;
    top: 161px;
    left: -16px;
    border: none;
    line-height: 19px;
    text-align: center;
    z-index: 999999999999;
    padding: 1rem;
  }
  
  .flash-slider .next_arrow {
    position: absolute;
    background-color: rgb(15, 52, 96);
    color: rgb(125, 135, 156);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 30px;
    border-radius: 50%;
    top: 161px;
    right: -8px;
    border: none;
    line-height: 19px;
    text-align: center;
    z-index: 999999999999;
    padding: 1rem;
  }

  #wish-btn {
    display: flex;
    width: unset;
    justify-content: center;
    align-items: center;
    outline: none;
    border: none;
    cursor: pointer;
    padding: 11px 2rem;
    font-weight: 600;
    font-family: inherit;
    color: rgb(233, 69, 96);
    background: rgb(255, 225, 230);
    transition: all 150ms ease-in-out 0s;
    line-height: 1;
    height: 40px;
    font-size: 14px;
    border-radius: 5px;
  }

  .wish-box{
    box-shadow: rgba(3, 0, 71, 0.09) 0px 1px 3px;
    background-color: rgb(255, 255, 255);
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 1.5rem;
    color: rgb(43, 52, 69);
    border-radius: 8px;
  }

  .wish-title{
    padding: 26px 30px 1rem;
    color: rgb(125, 135, 156);
    font-size: 12px;
  }

  .wish-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(233, 69, 96);
    position: relative;
    transition: all 150ms ease-in-out 0s;
    color: rgb(233, 69, 96);
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin-bottom: 0;
    
  }
  
  .stage{
    display: flex;
    flex-flow: wrap;
    margin-top: -4px;
    margin-bottom: 14px;
    align-items: center;
    justify-content: center;
  }
  .stage-passed{
    display: inline-flex;
    border-radius: 300px;
    transition: all 150ms ease-in-out 0s;
    cursor: pointer;
    box-shadow: unset;
    margin-top: 4px;
    margin-bottom: 4px;
    padding: 0.5rem 1.5rem;
    color: white;
    background-color: rgb(233, 69, 96);
    font-size: 14px;
    font-weight: 600;
  }

  .passed-line{
    cursor: unset;
    box-shadow: none;
    width: 50px;
    height: 4px;
    background-color: rgb(233, 69, 96);
  }


  .un-passed-line{
    cursor: unset;
    box-shadow: none;
    width: 50px;
    height: 4px;
    background-color: rgb(255, 225, 230);
  }

  .stage-unpassed{
    display: inline-flex;
    border-radius: 300px;
    transition: all 150ms ease-in-out 0s;
    cursor: pointer;
    box-shadow: unset;
    margin-top: 4px;
    margin-bottom: 4px;
    padding: 0.5rem 1.5rem;
    color: rgb(233, 69, 96);
    background-color: rgb(255, 225, 230);
    font-size: 14px;
    font-weight: 600;
  }

  .custom-container{
    margin: 2rem auto;
    max-width: 1200px;
  }

  .shipping-form{
    position: relative;
    padding: 1.5rem 1.75rem;
  }

  .form-design{
    box-shadow: rgba(3, 0, 71, 0.09) 0px 1px 3px;
    background-color: rgb(255, 255, 255);
    margin-bottom: 2rem;
  }

  .form-padding{
    padding: 0.75rem;
  }

  .form-inbox{
    position: relative;
    padding: 1.5rem 1.75rem;
  }
  .form-title{
    margin-bottom: 1rem;
    font-weight: 600;
  }
  .form-input{
    padding: 8px 12px;
    height: 40px;
    font-size: inherit;
    color: rgb(43, 52, 69);
    border-radius: 5px;
    border: 1px solid rgb(218, 225, 231);
    width: 100%;
    outline: none;
    font-family: inherit;
    transition: 0.3s;
  }
  
  .form-label{
    display: block;
    margin-bottom: 6px;
  }

  .form-input:focus{
    border-color: #E94560;
  }

  .form-input-box{
    position: relative;
    width: 100%;
    margin-bottom: 1rem;
  }

  .cart-btn{
    cursor: pointer;
    font-weight: 600;
    font-family: inherit;
    background: transparent;
    transition: all 150ms ease-in-out 0s;
    line-height: 1;
    padding: 10px 16px;
    color: rgb(233, 69, 96);
    border: 1px solid rgb(233, 69, 96);
    height: 40px;
    font-size: 14px;
    border-radius: 5px;
  }

  .checkout-btn{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    outline: none;
    cursor: pointer;
    padding: 11px 1.5rem;
    font-weight: 600;
    font-family: inherit;
    background: rgb(233, 69, 96);
    transition: all 150ms ease-in-out 0s;
    line-height: 1;
    border: none;
    color: rgb(255, 255, 255);
    height: 40px;
    font-size: 14px;
    border-radius: 5px;
  }

  .total-price-box{
    position: relative;
    padding: 1.5rem 1.75rem;
    box-shadow: rgba(3, 0, 71, 0.09) 0px 1px 3px;
    background-color: rgb(255, 255, 255);
    margin-top: 14px;
  }
  .invoice-item{
    display: flex;
    flex-direction: row;
    margin-bottom: 0.5rem;
    justify-content: space-between;
    align-items: center;
  }

  .checkout-item-title{
    color: rgb(125, 135, 156);
  }


  .total-box-margin{
    margin-top: 54px;
  }
  .checkout-price{
    font-size: 18px;
    font-weight: 600;
    line-height: 1;
  }
  .checkout-float{
    font-weight: 600;
    font-size: 14px;
    line-height: 1;
  }
  .invoice-design{
    cursor: unset;
    box-shadow: none;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
  }

  .checkout-total-price{
    margin-bottom: 1.5rem;
    font-size: 25px;
    font-weight: 600;
    line-height: 1;
    text-align: right;
  }

  .checkout-voucher-inp{
    padding: 8px 12px;
    height: 40px;
    font-size: inherit;
    color: rgb(43, 52, 69);
    border-radius: 5px;
    border: 1px solid rgb(218, 225, 231);
    width: 100%;
    outline: none;
    font-family: inherit;
    transition: 0.3s;
}

.checkout-voucher-inp:focus{
    border-color: #E94560;
  }
  .checkout-voucher-apply{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    outline: none;
    cursor: pointer;
    font-weight: 600;
    font-family: inherit;
    background: transparent;
    transition: all 150ms ease-in-out 0s;
    line-height: 1;
    padding: 10px 16px;
    color: rgb(233, 69, 96);
    border: 1px solid rgb(233, 69, 96);
    height: 40px;
    font-size: 14px;
    border-radius: 5px;
    margin-top: 1rem;
    margin-bottom: 30px;
  }

  .searching-for{
    box-shadow: rgba(3, 0, 71, 0.09) 0px 1px 3px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-flow: wrap;
    margin-bottom: 55px;
    padding: 1.25rem;
    border-radius: 8px;
    align-items: center;
    justify-content: space-between
  }

  .search-text{
    margin-bottom: 0px;
    margin-top: 0px;
    font-weight: 600;
    font-size: 16px;
  }
  .result-count-text{
    margin-bottom: 0px;
    margin-top: 0px;
    color: rgb(125, 135, 156);
  }
  .right-section{
    display: flex;
    flex-flow: wrap;
    align-items: center;
  }
  .sort-by-text{
    margin-bottom: 0px;
    margin-top: 0px;
    margin-right: 1rem;
    color: rgb(125, 135, 156);
  }

  .hiddenClass {
    display: none;
  }
  
  .allProductsBar {
    box-shadow: rgba(3, 0, 71, 0.09) 0px 1px 3px;
    background-color: rgb(255, 255, 255);
    padding: 1rem;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 55px;
  }
  
  .h5 {
    margin-bottom: 0;
    font-weight: 600;
    font-size: 16px;
  }
  
  .dropdownProduct {
    border: 1px solid hsl(0, 0%, 70%);
    padding: 0.4rem;
    border-radius: 6px;
  }
  
  .categories2 {
    position: absolute;
    right: 86px;
    top: 54%;
    transform: translateY(-50%);
    font-size: 14px;
    color: #7D879C;
    border-left: 1px solid rgb(218, 225, 231);
    height: 29px;
    cursor: pointer;
    min-width: 90px;
    padding-left: 1.25rem;
    padding-right: 1rem;
  }
  
  .content4 {
    padding: 10px;
    text-decoration: none;
    color: #333;
    max-width: 100%;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 180px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 6px;
    bottom: calc(100% - 403px);
    right: 110px;
  }
  
  .allSideBar {
    box-shadow: rgba(3, 0, 71, 0.09) 0px 1px 3px;
    background-color: rgb(255, 255, 255);
    padding: 18px 27px;
    border-radius: 8px;
  }
  .allSideBar h6 {
    margin-bottom: 10px;
    margin-top: 0px;
    font-weight: 600;
    font-size: 14px;
  }
  .allSideBar .something {
    color: rgb(125, 135, 156);
    font-size: 14px;
  }
  .allSideBar p {
    color: rgb(125, 135, 156);
    font-size: 14px;
  }
  .allSideBar .dropDownOFBar p {
    margin-bottom: 0px;
    margin-top: 0px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 22px;
    color: rgb(125, 135, 156);
    font-size: 14px;
  }
  .allSideBar .border {
    height: 1px;
    background-color: rgb(243, 245, 249);
    margin-top: 18px;
    margin-bottom: 24px;
  }
  .allSideBar .priceChanger {
    padding: 8px 12px;
    height: 40px;
    font-size: inherit;
    color: rgb(43, 52, 69);
    border-radius: 5px;
    border: 1px solid rgb(218, 225, 231);
    width: 50%;
  }
  .allSideBar li {
    font-size: 14px;
    margin-bottom: 0.8rem;
  }
  .allSideBar .colors div {
    width: 25px;
    height: 25px;
    border-radius: 50%;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .designToH1 {
    margin-bottom: 1rem;
    margin-top: 0px;
    font-size: 30px;
    font-weight: 700;
  }
  
  .buttonHere {
    display: flex;
    width: unset;
    justify-content: center;
    align-items: center;
    outline: none;
    cursor: pointer;
    padding: 11px 1.5rem;
    font-weight: 600;
    font-family: inherit;
    background: rgb(233, 69, 96);
    transition: all 150ms ease-in-out 0s;
    line-height: 1;
    border: none;
    color: rgb(255, 255, 255);
    height: 40px;
    font-size: 14px;
    border-radius: 5px;
    margin-bottom: 36px;
    margin-top: 30px;
  }
  
  .imageWithSmall {
    box-shadow: none;
    width: 70px;
    height: 70px;
    background-color: white;
    min-width: 70px;
    display: flex;
    border: 1px solid rgb(233, 69, 96);
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
  }
  
  .thisTObe {
    margin-right: auto;
    justify-content: center;
  }
  
  .wholeDiv {
    border-bottom: 3px solid rgb(218, 225, 231);
  }
  
  .wholeDiv .describe {
    margin-right: 25px;
    padding: 4px 10px;
    color: rgb(233, 69, 96);
    border-top-color: rgb(233, 69, 96);
    border-right-color: rgb(233, 69, 96);
    border-left-color: rgb(233, 69, 96);
    border-bottom: 2px solid;
    font-weight: 600;
    font-size: 16px;
  }
  
  .wholeDiv .review {
    font-weight: 600;
    font-size: 16px;
    padding: 4px 10px;
    color: rgb(125, 135, 156);
  }
  
  .spec {
    font-size: 20px;
    margin-bottom: 1rem;
    font-weight: 600;
  }
  
  .boxPrice {
    display: flex;
    margin: 0.5rem;
    min-width: 300px;
    min-height: 200px;
    border-radius: 8px;
    border: 1px solid rgb(218, 225, 231);
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  
  .newOneButtonHere {
    display: flex;
    width: unset;
    justify-content: center;
    align-items: center;
    outline: none;
    cursor: pointer;
    font-weight: 600;
    font-family: inherit;
    background: transparent;
    line-height: 1;
    padding: 10px 16px;
    color: rgb(233, 69, 96);
    border: 1px solid rgb(233, 69, 96);
    height: 40px;
    font-size: 14px;
    width: 16%;
    border-radius: 5px;
  }
  
  .smallCardHere {
    box-shadow: rgba(3, 0, 71, 0.09) 0px 1px 3px;
    background-color: rgb(255, 255, 255);
    width: 100%;
    width: 205px;
    height: 165px;
  }
  
  .comments {
    display: none;
  }
  
  .stars {
    font-size: 0; /* remove white space between inline-block elements */
  }
  
  .star {
    display: inline-block;
    font-size: 25px; /* adjust size as needed */
    cursor: pointer;
  }
  
  .star.active {
    color: yellow;
  }
  
  textarea {
    display: block;
    padding: 8px 12px;
    min-height: 40px;
    font-size: inherit;
    color: rgb(43, 52, 69);
    border-radius: 5px;
    border: 1px solid rgb(218, 225, 231);
    width: 100%;
    outline: none;
    overflow: auto;
    font-family: inherit;
  }
  
  textarea:hover {
    border-color: rgb(174, 180, 190);
  }