:root {
    --bg-dark-blue: #0F3460;
    --bg-red-500: #E94560;
    --bg-slate-50: #F6F9FC;
    --bg-stone-800: #2B3445;
    --bg-yellow-500: #FFCD4E;
    --bg-gray-700: #7D879C;
    --white: #fff;
    --open-sans: "Open Sans", sans-serif;
    --gray-300: lightgrey;
}




* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



/* Header-Begin */


main {
    .page-content {
        padding: 32px 191px;

        .car-info {
            .top-side {
                .img {
                    padding: 32px;
                }

                .info {
                    padding: 32px;

                    button {
                        width: 124px;
                        height: 40px;
                    }
                }
            }

            .bottom {
                .logo {
                    width: 70px;
                    height: 70px;
                }

                .bordered {
                    border: 1px solid var(--bg-red-500);
                    border-radius: 6px;
                }
            }
        }

        .tabindex-section {

            .review-container {
                width: 100%;
                height: 100%;
                padding: 15px 0;
            }

            .form-side {
                textarea {
                    width: 1200px;
                    height: 170px;
                    resize: none;
                    border: 1px solid lightgray;
                    border-radius: 6px;
                    padding: 8px 12px;

                    &:focus {
                        border: 1px solid var(--bg-red-500);
                    }

                }

                button {
                    width: 96px;
                    height: 40px;
                    background-color: #DAE1E7;
                    color: var(--bg-gray-700);
                    border: 1px solid var(--gray-300);
                    border-radius: 6px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-top: 30px;
                }
            }
        }


        .reklam-section {
            .reklam-cards-container {
                .short-cards {
                    .card-item {
                        width: 170px;
                        height: 233px;
                        border: 1px solid lightgray;
                        border-radius: 6px;
                        padding: 16px;
                        background-color: var(--white);
                    }

                }

                .card-1,
                .card-2,
                .card-3 {
                    position: relative;

                    &::after {
                        content: "+";
                        position: absolute;
                        right: -25px;
                        top: 50%;
                        font-size: 25px;
                        font-family: var(--open-sans);
                        color: gray;
                        font-weight: 700;

                    }


                }

                .card-4 {
                    position: relative;

                    &::after {
                        content: "=";
                        position: absolute;
                        right: -35px;
                        top: 50%;
                        font-size: 25px;
                        font-family: var(--open-sans);
                        color: gray;
                        font-weight: 700;
                    }
                }

                .large-card {
                    .card-item {
                        height: 233px;
                        width: 300px;
                        border: 1px solid lightgray;
                        border-radius: 6px;
                        padding: 8px;
                        background-color: var(--white);

                        .btn-side {
                            gap: 15px;

                            .bt-1 {
                                width: 124px;
                                height: 40px;
                                background-color: var(--bg-red-500);
                                padding: 8px;
                                border-radius: 6px;
                                color: var(--white);
                                font-family: var(--open-sans);
                                font-size: 14px;
                                font-weight: 700;
                            }

                            .bt-2 {
                                width: 105px;
                                height: 40px;
                                background-color: var(--white);
                                padding: 8px;
                                border-radius: 6px;
                                color: var(--bg-red-500);
                                font-family: var(--open-sans);
                                font-size: 14px;
                                font-weight: 700;
                                border: 1px solid var(--bg-red-500);
                                transition: all .3s;

                                &:hover {
                                    background-color: var(--bg-red-500);
                                    color: var(--white);

                                }
                            }

                        }
                    }
                }
            }

        }

        .banner-side {
            .banner-cards {
                .card-item {
                    width: 173px;
                    height: 133px;
                    border-radius: 6px;
                    border: 1px solid lightgray;
                    padding: 24px;
                }
            }

        }

        .flash-deal-section {
           
    
            .arrows {
                width: 86%;
                left: 75px;
    
                span {
                    width: 2.75rem;
                    height: 2.75rem;
                    border-radius: 50%;
                    background-color: #DAE1E7;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
    
                    &:hover {
                        background-color: var(--bg-dark-blue);
                    }
    
                    &:hover i {
                        color: var(--white);
                    }
                }
    
                .left {
                    margin-right: 5px;
                }
            }
    
    
            .deals-card-side {
    
                .card-item {
                    margin-top: 20px;
                    width: 17.625em;
                    height: 24.866rem;
                    border: 1px solid var(--gray-300);
                    border-radius: 6px;
    
                    .card-top {
                        height: 17.179rem;
                        width: 100%;
                        background-image: url(/src/assets/img/nike.webp);
                        cursor: pointer;
    
                        .first {
                            span {
                                width: 3.501rem;
                                height: 1.563rem;
                                background-color: #E94560;
                                padding: 5px 10px;
                                border-radius: 20px;
                                font-size: 10px;
                            }
                        }
    
                        .second {
                            opacity: 0;
                            visibility: hidden;
                        }
                    }
    
                    .card-info {
                        padding: 16px;
    
                        .cost {
                            s {
                                text-decoration: line-through;
                            }
                        }
    
                        .card {
    
                            span {
                                width: 1.75rem;
                                height: 1.75rem;
                                border: 1px solid lightgray;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                cursor: pointer;
    
                                i {
                                    color: var(--bg-red-500);
    
                                }
    
                                &:hover {
                                    background-color: var(--bg-red-500);
                                }
    
                                &:hover i {
                                    color: var(--white);
                                }
                            }
                        }
                    }
    
                    &:hover .second {
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }
        }  
    }
 
}