#main {
    background-color: rgb(255, 255, 255);
}
.slider-text button {
    height: 40px;
    font-size: 14px;
    border-radius: 5px;
    padding: 1rem 1.5rem;
    background-color: rgb(233, 69, 96);
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    margin-right: 82px;
}

.title {
    font-size: 50px;
    margin-top: 0px;
    line-height: 1.2;
    margin-bottom: 1.35rem;
    font-weight: bold;
}
.description{
    font-size: 13px;
}

@media screen and (max-width: 1024px) {
    .TheMainLogo {
      display: none;
    }
    .icons {
      display: none;
    }
    #lastNav {
      display: none;
    }
    .content2 {
      display: none;
    }
    .searchInput {
      width: 100%;
    }
    .categories {
      display: none;
    }
    .content2 {
      display: none;
    }
    .this {
      display: none;
    }
    .respon {
      display: flex;
      justify-content: center;
    }
    .wiew {
      display: none;
    }
    .size {
      width: 0;
    }
    .imgKeep {
      justify-content: center !important;
    }
    .carAdd {
      display: flex;
      justify-content: center;
    }
}
